@use 'globals' as *;

html {
	scrollbar-gutter: stable;
}

::-moz-selection {
	color: var(--color-white);
	background-color: var(--color-silver);
}
::selection {
	color: var(--color-white);
	background-color: var(--color-silver);
}

body {
	font-size: 16px;
	font-weight: 400;
	color: var(--color-black);
	background-color: var(--color-white);
	min-height: 100vh;

	&.mn-open {
		overflow: hidden;
		.wrapper {
			@include noSelect;
			main {
				transform: translateX(35vw);
				opacity: 0;
			}
			.site-header {
				transform: translateX(35vw);
			}
			&::before {
				opacity: 1;
			}
		}
	}

	.zh {
		font-family: var(--font-zh);
	}

	.jp {
		font-family: var(--font-jp);
	}

	&.no-scroll {
		overflow: hidden;
	}
	&,
	button,
	input,
	textarea {
		font-family: var(--font-en);
	}

	&.no-action {
		overflow: hidden;
		.site-header {
			@include noTransition;
		}
	}
}

a,
button,
input,
textarea,
select,
summary,
details,
iframe,
[tabindex]:not([tabindex='-1']) {
	@include focusOutlineOuter();
}

body:lang(zh) {
	&,
	button,
	input,
	textarea {
		font-family: var(--font-zh);
	}
}

body:lang(jp) {
	&,
	button,
	input,
	textarea {
		font-family: var(--font-jp);
	}
}

#root {
	position: relative;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: var(--color-black-a15);
		opacity: 0;
		@include noAction;
		transition: opacity 1s var(--ease-in-out-quart);
	}
}

img {
	@include noSelect;
}

// Mobile Nav
.mn {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	min-height: rem(450);
	z-index: 101;
	background-color: var(--color-white);
	padding: rem(10) 0;
	transition:
		transform 1s var(--ease-in-out-quart),
		height var(--speed-half);
	@include noSelect;

	&.is-open {
		transform: translateX(100%);
		.mn-item {
			opacity: 1;
			a span {
				transform: none;
			}
		}
	}

	.mn-header {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		padding: rem(13) rem(30);
		line-height: 1.8;
		color: var(--color-silver);
		justify-content: flex-end;
		.mn-close {
			font-size: rem(14);
			cursor: pointer;
			display: inline-flex;
		}
	}

	.mn-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		.footer-nav {
			font-size: rem(12);
			padding: rem(20) 0;
		}
	}

	.mn-items {
		height: 100%;
		width: 100%;
	}

	.mn-item {
		position: relative;
		font-size: rem(40);
		font-weight: 700;
		line-height: 1.4;
		opacity: 0;
		transition: opacity var(--speed-2);
		text-transform: lowercase;
		.is-open & {
			@for $i from 1 through 3 {
				&:nth-of-type(#{$i}) {
					a span {
						transition-delay: 0.2s + $i * 80ms;
					}
				}
			}
		}
		@include bpmin(small) {
			font-size: rem(50);
		}
		a {
			color: var(--color-black);
			display: block;
			overflow: hidden;
			span {
				display: block;
				transform: translateY(100%);
				transition: transform var(--speed-2) var(--ease-in-out-quart) 0.1s;
			}
		}
		&.current {
			&::before {
				content: '';
				position: absolute;
				right: rem(-25);
				top: 49%;
				background-color: var(--color-red);
				width: rem(10);
				height: rem(10);
				border-radius: 50%;
				animation: (scale-blink 1s var(--ease-in-out-quart) infinite);
			}
		}
	}
}
