@use 'globals' as *;

.btn {
	border: rem(1) solid;
	font-weight: 400;
	// text-transform: lowercase;
	font-size: rem(16);
	padding: 0 rem(15);
	min-width: rem(200);
	height: rem(50);
	line-height: rem(48);
	text-align: center;
	display: inline-block;
	letter-spacing: rem(0.35);
	@include noSelect;
	transition: background var(--speed), border-color var(--speed);

	&:hover {
		cursor: pointer;
	}

	@include scrollOnHover(var(--color-white));

	&--primary {
		background-color: var(--color-mineshaft);
		border-color: var(--color-mineshaft);
		color: var(--color-white);
		&:hover {
			background-color: var(--color-black);
			border-color: var(--color-black);
		}
	}

	&--full {
		width: 100%;
		@include bpmin(portrait) {
			width: auto;
		}
	}

	// &--large {
	// 	font-size: rem(23);
	// 	height: rem(60);
	// 	line-height: rem(60);
	// 	letter-spacing: rem(0.5);
	// }
}
