.inner-wrapper {
	margin: 0 auto;
	max-width: rem(1440);
	padding: 0 rem(25);
	position: relative;
	&--narrow {
		max-width: rem(1024);
	}
	&--large {
		max-width: rem(1200);
	}
	@include bpmin(landscape) {
		padding: 0 rem(30);
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.responsive-row {
	@include bpmin(large) {
		display: flex;
		flex-direction: row;
	}
	&--landscape {
		@include bpmin(landscape) {
			display: flex;
			flex-direction: row;
		}
	}
	&--portrait {
		@include bpmin(portrait) {
			display: flex;
			flex-direction: row;
		}
	}
	&--medium {
		@include bpmin(medium) {
			display: flex;
			flex-direction: row;
		}
	}
}

.wrap {
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.grid {
	flex-wrap: wrap;
	@include bpmin(portrait) {
		display: flex;
	}
	@include bpmin(large) {
	}
	& > &__item {
		flex: 1 0;
	}
	&--gutters {
		margin: 0 rem(-10);
		.grid__item {
			padding: 0 rem(10);
		}
		@include bpmin(large) {
			margin: 0 rem(-20);
			.grid__item {
				padding: 0 rem(20);
			}
		}
	}
}

.inline-flex {
	display: inline-flex !important;
}

.space-top {
	margin-top: rem(20);
}

.align-center {
	justify-content: center;
	align-items: center;
}

.show-small {
	@include bpmax(small) {
		display: none !important;
	}
}
.hide-small {
	@include bpmin(small) {
		display: none !important;
	}
}

.show-medium {
	@include bpmax(medium) {
		display: none !important;
	}
}
.hide-medium {
	@include bpmin(medium) {
		display: none !important;
	}
}

.show-portrait {
	@include bpmax(portrait) {
		display: none !important;
	}
}
.hide-portrait {
	@include bpmin(portrait) {
		display: none !important;
	}
}

.show-landscape {
	@include bpmax(landscape) {
		display: none !important;
	}
}
.hide-landscape {
	@include bpmin(landscape) {
		display: none !important;
	}
}

.show-large {
	@include bpmax(large) {
		display: none !important;
	}
}
.hide-large {
	@include bpmin(large) {
		display: none !important;
	}
}

// .top-layer {
// 	position: relative;
// 	z-index: 1;
// }
