// Global

$global-width: rem(1440);

// Fonts

$font-en: 'grotesk', Helvetica, sans-serif;
$font-zh: 'grotesk', 'Noto Sans SC', Helvetica, sans-serif;
$font-zh-tw: 'grotesk', 'Noto Sans TC', Helvetica, sans-serif;
// $font-jp: 'grotesk', 'M PLUS 1', sans-serif;
$font-jp: 'grotesk', 'Noto Sans JP', Helvetica, sans-serif;

// $font-serif-en: 'Noto Serif', Helvetica, serif;
// $font-serif-zh: 'Noto Serif', Noto Sans SC, serif;
// $font-serif-zh-tw: 'Noto Serif', Noto Sans TC, serif;

// UI Colors

$mineshaft: #6c6c6c;
$silver: #ababab;
$iron: #e6e7e8;
$sand: #f8f8f8;
$white: #fff;
$black: #282828;
$deepblack: #111;

$red: #ef6f6c;
$violet: #340068;
$snow: #fffcf9;
$turquoise: #b1ede8;
$aqua: #93c4c0;
$deepred: #6d435a;
$platinum: #efedea;

// Icons
$peach: #f9e3ae;
$cyclamen: #ed7899;
$paleaqua: #d1e4f3;

// Projects
$porter: #dee2e3;
$echoedu: #e8e8ea;
$tsp: #dfeef4;
$blackjack: #e8e8e8;
$gooner: #d7d7d7;
$la: #dfdcd7;
$asher: #e9dac7;

// Breakpoints

$breakpoints: (
	mini: 0,
	tablet: 0,
	small: rem(480),
	medium: rem(640),
	portrait: rem(768),
	between: rem(860),
	landscape: rem(1024),
	large: rem(1200),
	xlarge: rem(1440)
);

// Animation & Transition

$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$power3Out: cubic-bezier(0.26, 1, 0.48, 1);
$power4In: cubic-bezier(0.64, 0, 0.78, 0);
$power4Out: cubic-bezier(0.22, 1, 0.36, 1);
$power4InOut: cubic-bezier(0.84, 0, 0.16, 1);
$speed: 0.3s;
$default-transition-duration: $speed;
